
<%=image_tag("banner.png", :class => "banner") %>
<br/>
<br/>
<br/>
<br/>
<div class="caption"><br><br><h1>How well do YOU know your movies?</h1>
<%=link_to image_tag("play.png"), quiz1_index_path%></div>

