<br>
<%=image_tag("take.png", :class => "take") %>
<div class="results">
<br>
<h1>Congratulations!!!</h1>


<p>YOU GOT <%=@addscore%> POINT/S, YO</p>
<%if user_signed_in?%>
<p>NOW Y'ALL HAVE <%= current_user.score.cscore %></p>
<% end %>
<br>
<h2>Ready for more?</h2>
<%=link_to image_tag("play.png"), quiz1_play_path%>
</div>
